<div class="container">
    <p class="text-header">Sort By</p>
    <div class="text-position">
        <div class="text-content">
            <!-- <span><input type="text" value="Price -- High Low" /></span>
            <span><input type="text" value="Price -- Low High" /></span>
            <span><input type="text" value="Discount" /></span> -->
            <p class="input-class" (click)="sortHighLow()">Price -- High Low</p>
            <p class="input-class" (click)="sortLowHigh()">Price -- Low High</p>
            <p class="input-class" (click)="sortDiscount()">Discount</p>
        </div>
    </div>
</div>