<div class="container">
    <p class="text-header">Filters</p>
    <!-- <div class="wrapper"> -->
        <!-- <igx-input-group>
            <input igxInput id="lowerInput" type="text" [ngModel]="priceRange.lower | currency : 'INR'"
                (blur)="updatePriceRange($event.target)" />
        </igx-input-group> -->
        <!-- <igx-input-group>
            <input igxInput id="upperInput" type="text" [ngModel]="priceRange.upper | currency : 'INR'"
                (blur)="updatePriceRange($event.target)" />
        </igx-input-group> -->
    <!-- </div> -->
    <!-- <igx-slider id="slider" [type]="sliderType.RANGE" [minValue]="0" [maxValue]="1000" [lowerBound]="0"
        [upperBound]="1000" [(ngModel)]="priceRange"></igx-slider> -->
        

</div>